#cover {
    position:          fixed;
    width:             380px;
    height:            100%;
    background-repeat: no-repeat;
    background-position: -400px 0;
    top:               0;
    left:              0;
    // position the cover below the whole blog
    z-index:           map-get($z-indexes, l-cover);
}
